{% extends "base.html" %}
{% block content %}
  {% if user.is_authenticated %}
      <div class="container">
      <div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
        <p>Вы уже вошли!</p>
      </div>
  {% else %}
    <div class="container">
        <div class="row show-grid">
          <div class="span4 offset4">
            <h2>Войти</h2><br>
            <form class="well" action="/user/login/" method="post">
             {% for field in form %}
             {% if field.errors %}
             <font color="red">{{ field.errors }}</font>
             {% endif %}
             {% endfor %}
              <label><strong>Логин</strong></label>
              <input type="text" class="input-large" name="username" id="Username" placeholder="Логин">
              <label><strong>Пароль</strong></label>
              <input type="password" class="input-large" name="password" id="Passwd" placeholder="Пароль">
              <br><br>
              <p class="pull-right"><a href="/user/password/reset">Забыли пароль?</a></p>
              <input name="next" id="next" type="hidden" value="/dashboard/">
              <input type="submit" class="btn btn-primary" name="signin" id="signin" value="Login">
            </form>
          </div>
        </div>
  {% endif %}
{% endblock %}