{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
      <div class="container">
      <div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
        <p>{% trans "You have already sign in!" %}</p>
      </div>
  {% else %}
    <div class="container">
        <div class="row show-grid">
          <div class="span4 offset4" style="width:265px;">
            <h2>{% trans "Sign in" %}</h2><br>
            <form class="well" action="/user/login/" method="post"> 
              {{ form }}
              <br><br>
              <p class="pull-right"><a href="/user/password/reset">{% trans "Forgot password?" %}</a></p>
              <input name="next" id="next" type="hidden" value="/dashboard/">
              <input type="submit" class="btn btn-primary" value="{% trans "Sign in" %}">
            </form>
          </div>
        </div>
  {% endif %}
{% endblock %}