{% extends "base.html" %}
{% block content %}
	<div class="container">
		<div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
	{% if user.is_authenticated %}
	<h3>Вы уже вошли. Возможно вы имели ввиду <a href="{% url auth_logout %}">выйти</a> или перейдите на <a href=/hosts>главную</a> страницу.</h3>
	{% else %}
	<h3>Введиет свой email для восстановления пароля.</h3>
	{% for field in form %}
	     {% if field.errors %}
	     	<font color="red">{{ field.errors }}</font>
	     {% endif %}
	{% endfor %}
	<form class="well form-inline" action="" method="post">
	<h3>Email:</h3> 
	<input style="height: 30px;" class="input-large" id="id_email" type="text" name="email" maxlength="75" /> 
	<input type="submit" class="btn btn-primary" value="Restore" />
	</form>
	{% endif %}
</div>
{% endblock %}