{% extends "usr.html" %}

{% block urls %}
<button onclick="location.href='{% url registration_register %}'">Create new account</button>
{% endblock %}

{% block content %}
</tr><tr>

<td id="content">

{% if user.is_authenticated %}
<h1>WebVirto</h1>
<h3>You are loggined. Do you mean <a href="{% url auth_logout %}">logout</a> or go to <a href=/hosts>hosts</a> page.</h3>
{% else %}
<h1>WebVirto</h1>
<h3>Enter a new password.</h3>
{% for field in form %}
     {% if field.errors %}
     	<font style="float: left;" color="red">{{ field.errors }}</font><br />
     {% endif %}
{% endfor %}
<form action="" method="post">
<h3>Password:</h3>
<input style="height: 32px;" type="password" name="new_password1" id="id_new_password1" />
<h3>Confirm:</h3>
<input style="height: 32px;" type="password" name="new_password2" id="id_new_password2" /><br /><br />
<input style="height: 32px; width: 80px;" type="submit" value="Change" />
</form>

{% endif %}

</td>

{% endblock %}