You are receiving this email because the request was made to change the password on the site {{site_name}}.

Please follow the link below to enter a new password:
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid token=token %}

If you have forgotten your username is: {{user.username}}

Team WebVirtMgr.


Please do not reply to this message, it was sent automatically. If you have questions or need help, you can always write a letter in support support@webvirtmgr.net.


Вы получили это письмо потому что был сделан запрос на изменение пароля на сайте {{ site_name }}.

Пожалуйста перейдите по следующей ссылке для ввода нового пароля:
{{ protocol }}://{{ domain }}{% url django.contrib.auth.views.password_reset_confirm uidb36=uid token=token %}

Если вы забыли то ваш логин: {{ user.username }}

Команда WebVirtMgr.


Пожалуйста, не отвечайте на данное сообщение; оно было выслано автоматически. Если у вас есть вопросы или вам необходима помощь, вы всегда можете написать письмо в службу поддержки support@webvirtmgr.net.