{% extends "base.html" %}
{% block content %}
   <div class="container">
      <div class="hero-unit">
      	<h2>Восстановление пароля</h2><br>
		<form action="" method="post">
			<label>Новый Пароль:</label>
			<input style="height: 30px;" type="password" name="new_password1" id="id_new_password1" />
			<label>Подтвердить:</label>
			<input style="height: 30px;" type="password" name="new_password2" id="id_new_password2" /><br>
			<input class="btn btn-primary" type="submit" value="Изменить" />
		</form>
	</div>
{% endblock %}