{% extends "usr.html" %}

{% block urls %}
<button onclick="location.href='{% url registration_register %}'">Create new account</button>
{% endblock %}

{% block content %}
</tr><tr>

<td id="content">

{% if user.is_authenticated %}
<h1>Web Virtual Manager Machine</h1>
<h2>You are loggined. Do you mean <a href="{% url auth_logout %}">logout</a> or go to <a href=/hosts>hosts</a> page.</h2>
{% else %}
<h1>Web Virtual Manager Machine</h1>
<h3>Enter your email address for account recovery.</h3>
{% for field in form %}
     {% if field.errors %}
     	<font style="float: left;" color="red">{{ field.errors }}</font><br />
     {% endif %}
{% endfor %}
<form action="" method="post">
<h3>Email:</h3> 
<input style="height: 32px;" id="id_email" type="text" name="email" maxlength="75" /> 
<input style="height: 32px;" type="submit" value="Restore" />
</form>

{% endif %}

</td>

{% endblock %}