{% extends "base.html" %}
{% load i18n %}
{% block content %}
  {% if user.is_authenticated %}
      <div class="container">
      <div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
        <p>{% trans "You have already sign in!" %}</p>
      </div>
  {% else %}
    <div class="container">
        <div class="row show-grid">
          <div class="well span4 offset4" style="width:300px;">
            <h2>{% trans "Password recovery" %}</h2>
            <hr>
      			<form class="form" action="/user/password/reset/" method="post">
      				{{ form }}
      				<br>
              <hr>
      				<input type="submit" class="btn btn-primary pull-right" value="{% trans "Rocevery" %}">
      			</form>
		</div>
	</div>
	{% endif %}
{% endblock %}