{% extends "base.html" %}
{% block content %}
 {% if user.is_authenticated %}
      <div class="container">
      <div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
        <p>Вы уже вошли!</p>
      </div>
  {% else %}
    <div class="container">
        <div class="row show-grid">
          <div class="span4 offset4">
            <h2>Регистрация</h2><br>
            <form class="well" id="gaia_loginform" action="" method="post">
              {{ form }}
              <br><br>
              <input type="submit" class="btn btn-primary" value="Регистрация">
            </form>
          </div>
        </div>
   {% endif %}
{% endblock %}
