{% extends "base.html" %}
{{% block content %}
	<div class="container">
	<h2>О проекте</h2>
	<p>Этот проект предназначен для управления виртуальными машинина. Альтернатива клиенту Virt-Manager для linux. Мы используем только свобдные программные технологии, такие как KVM и libvit. Проект является абсолютно бесплатным и разрабатывается свободное от работы время. Если у вас есть возможность помочь или есть предложение по улучшению работы ресурса тогда ждем ваших писем на наш email.</p><h3>Email</h3><p><a href="mailto:webmaster@x-sys.com.ua">webmaster@x-sys.com.ua</a></p>
{% endblock %}