<html>
<head>
  <title>Web Virtual Manager Machine</title>
  <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
  <meta name='yandex-verification' content='483f16ffaf876d7d' />
  <meta name="google-site-verification" content="6cjnY28z1QD9e5p1d9SMVJBhNV_t9bMsntnfjWV1ACI" />
  <meta name="description" content="Web Virtual Manager Machine" />
  <meta name="keywords" content="web kvm, web libvirt, web virt-manager, web virt manager, kvm, libvirt, libvirt web interface, libvirt web frontend, libvirt web admin, libvirt web management, virt-manager, kvm web interface, kvm web panel, kvm web panel, kvm web manager, kvm web console" />

  <link rel="stylesheet" type="text/css" href="/media/css/style.css" media="screen">
  <link rel="icon" href="/media/img/favicon.ico" type="image/x-icon">
<script type="text/javascript"> 
function toggleview(itm) 
{ 
   var itmx = document.getElementById(itm); 
   if (itmx.style.display == "none") 
   { 
      itmx.style.display = "block"; 
   } 
   else 
   { 
      itmx.style.display = "none"; 
   } 
} 
</script> 
</head>
<body>
<table id="tab">
<tbody><tr>
<td colspan="2" id="header">
<a href=/><img src=/media/img/logo.png></a>
<ul>
<li><a href=#><h2 style="color: #000">Hello, {{usr_name}}</h2></a></li>
<li></li>
<li><a href=/usr/profile><h2>Connections</h2></a></li>
<li><a href=/usr/logout><h2>Logout</h2></a></li>
</ul>
</td>
{% block content %}{% endblock %}
</tr><tr>
<td colspan="2" id="footer">
<p>© 2011 X-systems
<a href=/help/>Help</a>
<a href=/about/>About</a>
<a href=/privacy/>Privacy</a>
<a href=/support/>Support</a>
<a href=/faq/>FAQ</a>
</p>
<!-- Yandex.Metrika counter -->
<div style="display:none;"><script type="text/javascript">
(function(w, c) {
    (w[c] = w[c] || []).push(function() {
        try {
            w.yaCounter10346776 = new Ya.Metrika({id:10346776, enableAll: true});
        }
        catch(e) { }
    });
})(window, "yandex_metrika_callbacks");
</script></div>
<script src="//mc.yandex.ru/metrika/watch.js" type="text/javascript" defer="defer"></script>
<noscript><div><img src="//mc.yandex.ru/watch/10346776" style="position:absolute; left:-9999px;" alt="" /></div></noscript>
<!-- /Yandex.Metrika counter -->
</td>
</tr>
</tbody></table>
</body></html>
