{% extends "base.html" %}
{% block content %}
   <div class="container">
      <div class="hero-unit">
        <h2>Центр управления</h2>
        <hr>  
        {% if host_info %}
        <table class="table table-condensed">
            <thead>
              <tr>
                <th>Имя хоста:</th>
                <th>IP address:</th>
                <th>KVM логин:</th>
                <th>Статус:</th>
                <th>Управление</th>
                <th>Действие</th>
              </tr>
            </thead>
            <tbody>
                {% for name, info in host_info.items %}
                <tr>
                  <td>{{name}}</td>
                  <td>{{info.1}}</td>
                  <td>{{info.2}}</td>
                  <td>{% if info.4 == 1 %}<font color="green">доступен</font>{% else %}<font color="red">не доступен</font>{% endif %}</td>
                  <td>{% if info.4 == 1 %}<button class="btn btn-primary" onclick="location.href='/overview/{{name}}/'">Управление</button>{% else %}<a href="#" class="btn btn-primary disabled">Управление</a>{% endif %}
                  </td>
                  <td>
                    <form action="/dashboard/" method="post">
                      <input type="hidden" name="host" value="{{name}}">
                      <input type="submit" class="btn btn-primary" name="delete" value="Удалить" onclick="return confirm('Вы уверены?')">
                    </form>
                  </td>
                </tr>
                {% endfor %}
          </tbody>
          </table>
          {% if errors %}
            {% for error in errors %}
              <p><font color="red">{{error}}</font></p>
            {% endfor %}
          {% endif %}
        <hr>
        {% else %}
          <h4>У Вас отсутствуют подключения к хостам.</h4><br>
        {% endif %}
          <script type="text/javascript">
          function toggleview(itm) 
          { 
             var itmx = document.getElementById(itm); 
             if (itmx.style.display == "none") 
             { 
                itmx.style.display = "block"; 
             } 
             else 
             { 
                itmx.style.display = "none"; 
             } 
          } 
          </script>
          <button class="btn btn-primary" onclick="toggleview('q1')">Подключить</button>
          <div id='q1' style="display:none">
            <br>
            <div class="row show-grid">
              <div class="span3">
                <p>Имя хоста:</p>
                <p>IP адрес:</p>
                <p>KVM Логин:</p>
                <p>KVM Пароль:</p>
              </div>
              <div class="span3">
                <form action="/dashboard/" method="post">
                  <input type="text" name="name" class="input-large focused" placeholder="Name">
                  <input type="text" name="ipaddr" class="input-large" placeholder="192.168.1.1">
                  <input type="text" name="sshusr" class="input-large" placeholder="Name">
                  <input type="password" name="passw" class="input-large" placeholder="Password">
                  <input type="submit" class="btn btn-primary" name="add" value="Добавить">
                </form>
              </div>
            </div>
          </div>
   </div>

{% endblock %}
