{% extends "base.html" %}
{% load i18n %}
{% block content %}
<div class="container">
<h1>{% trans "Docs" %}</h1>
<br>
<h2>{% trans "Setting up the server to work with the service" %}</h2>	<br>
<h4>ContOS, Fedora, RedHat</h4>
<p>{% trans "Install packages libvirt-bin, KVM" %}</p>
<pre>
# yum -y install kvm libvirt
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>{% trans "Install packages libvirt-bin, KVM, sasl2-bin" %}</p>
<pre>
$ sudo apt-get install kvm libvirt-bin sasl2-bin
</pre>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<p>{% trans "Uncomment the line in the file <code>/etc/sysconfig/libvirtd</code>" %}</p>
<pre>
LIBVIRTD_ARGS="--listen"
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>{% trans "Add the option <code>-l</code> in the file <code>/etc/default/libvirt-bin</code>" %}</p>
<pre>
libvirtd_opts="-d -l"
</pre>
<br>
<h4>Ubuntu, Debian, Fedora, CentOS, RedHat</h4>
<p>{% trans "The file <code>/etc/libvirt/libvirtd.conf</code> uncomment the line" %}</p>
<pre>
listen_tls = 0
listen_tcp = 1
</pre>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<p>{% trans "Start the daemon libvirtd" %}</p>
<pre>
# service libvirtd start
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>{% trans "Restart the daemon libvirtd, because after installation it runs automatically" %}</p>
<pre>
$ sudo service libvirt-bin restart
</pre>
<br>
<p>{% trans "<code>saslpasswd2</code> command create a user who has access to the libvirt. When you run the command with the key <code>-a</code> to specify the application <code>libvirt</code> and the name of the user through the whitewashed, in this case <code>fred</code>" %}</p>
<p>Командой <code>saslpasswd2</code> создаем пользователя, который получит доступ к libvirt. При запуске команды с помощью ключа <code>-a</code> необходимо указать приложение <code>libvirt</code> и имя пользователя через побел, в нашем случае это <code>fred</code></p>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<pre>
# saslpasswd2 -a libvirt fred
Password: xxxxxx
Again (for verification): xxxxxx
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<pre>
$ sudo saslpasswd2 -a libvirt fred
Password: xxxxxx
Again (for verification): xxxxxx
</pre>
<br>
<p>Для просмотра и проверки созаднных аккаунтов можно использовать команду <code>sasldblistusers2</code>. Для этого с помощью ключа <code>-f</code> необходимо команде указать базу пользоватей libvirt, которая находиться и создается по умолчанию <code>/etc/libvirt/passwd.db</code></p>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<pre>
# sasldblistusers2 -f /etc/libvirt/passwd.db
fred@webvirtmgr.net: userPassword
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<pre>
$ sudo sasldblistusers2 -f /etc/libvirt/passwd.db
fred@webvirtmgr.net: userPassword
</pre>
<br>
<p>Для выключения доступа используйте команду <code>saslpasswd2</code> как при добавлении, только еще необходимо добавить ключ <code>-d</code> перед именем пользователя</p>
<br>
<h4>ContOS, Fedora, RedHat</h4>
<pre>
# saslpasswd2 -a libvirt -d fred
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<pre>
$ sudo saslpasswd2 -a libvirt -d fred
</pre>
<br>
<p>О настройке моста (br0) на сетевом интерфейсе для проброса сетевых интерфейсов виртуальных машин можно прочитать на <a href="http://wiki.libvirt.org/page/Networking#Bridged_networking_.28aka_.22shared_physical_device.22.29">вики</a> проекта libvirt.</p>
<br />
<h4>ContOS, Fedora, RedHat</h4>
<p>Если у Вас влючен фаирвол (iptables) необходимо добавить правило для libvirt, так как по умолчанию доступ к портам libvirt запрещен</p>
<pre>
# iptables -I INPUT -m state --state NEW -m tcp -p tcp --dport 16509 -j ACCEPT
</pre>
<br>
<h4>Ubuntu, Debian</h4>
<p>Если у Вас влючен фаирвол (ufw) необходимо добавить исключение для libvirt, так как по умолчанию доступ к портам libvirt запрещен для этого необходимо создать фаил <code>/etc/ufw/applications.d/libvirtd</code> и в него добавить следующие строки:</p>
<pre>
[Libvirt]
title=Virtualization library
description=Open port for WebVirtMgr.
ports=16509/tcp
</pre>
<p>Добавляем правило в цепочку фаирвола</p>
<pre>
$ sudo ufw allow from any to any app Libvirt
</pre>
<br>
<h4>{% trans "Test connection" %}</h4>
<p>{% trans "Before you add the ip address of your server in the control center, perform the following test" %}</p>
<p>Перед тем как добавить ip адреса ваших серверов в центре управления, выполните следующий тест</p>
<pre>
$ virsh -c qemu+tcp://IP_вашего_сервера/system nodeinfo
Please enter your authentication name: fred
Please enter your password: xxxxxx
CPU model:           x86_64
CPU(s):              2
CPU frequency:       2611 MHz
CPU socket(s):       1
Core(s) per socket:  2
Thread(s) per core:  1
NUMA cell(s):        1
Memory size:         2019260 kB
</pre>
<p><font color="red">Внимание</font>: если Вы не увидели информацию о вашей хост системе, проверьте правильно ли Вы все настроили.</p>
<p><font color="red">Ubuntu-Server</font>: если Вы все настроили правильно, но все равно выдает ошибку <strong>authentication failed</strong> тогда попробуйте добавить домен в имя пользователя при авторизации, который можно посмотреть командой <code>sasldblistusers2</code> описанной выше. Например: <strong>fred@webvirtmgr.net</strong></p>
<br>
{% endblock %}
