{% extends "base.html" %}
{% load i18n %}
{% block content %}
   <div class="container">
<h1>{% trans "Frequently Asked Questions" %}</h1>
<br>
<p>В: Как добавить iso образ для установки виртуальной машины?</p>
<p>О: Все образы должны находиться в директории которые определын в пуле хранилища. Пример: <strong>/var/lib/libvirt/images/cdrom.iso</strong></p>
<br>
<p>В: Почему отсутствует HDD образ при создании виртуальной машины?</p>
<p>О: Перед созданием виртуальной машины необходимо создать образ HDD во вкладке хранилище.</p>
<br>
<p>В: Как происходит подключение по VNC к виртуальной машине?</p>
<p>О: Подключение по VNC происходит через SSH туннель (необходимо создать пользователя с ssh доступом).</p>
<br>
<p>В: Все сделал по интсрукции но не получается подключиться к хосту, что может быть?</p>
<p>О: Проверьте настройки фаирвола. В Fedora - это iptables, a в Ubuntu - ufw.</p>
<br>
<p>В: У сервиса отсутствует функционал которой меня интересует, что делать?</p>
<p>О: Пишите все свои пожелания нам на почту и мы попытаемся их реализовать.</p>
<br>
<p>В: Каким образом можно изменить кол-во логических ЦПУ или памяти на виртуальной машине?</p>
<p>О: Если вы хотите добавить память или изменить кол-во логических ЦПУ, Вы всегда можете <strong>удалить</strong> виртуальную машину и создать новую с улучшеными характеристиками при этом образ HDD не удаляется.</p>
<br>
<p>В: Почему отсутствует возможность конфигурирования виртуальных машин (удаление и добавление оборудования)?</p>
<p>О: Добавим эту возможность позже (правда только для сетевых устройств и жестких дисков).</p> 
<br>
<p>В: Почему не полностью поддерживаются виртуальные машины которые созданы не через сервис WebVirtMgr?</p>
<p>О: При создании виртуальной машины создается xml фаил с ее настройками и для бысрого и легкого управления были удалены некоторые элементы, которые создаются локальным менеджером (например: virt-manager).</p>
{% endblock %}
