{% extends "base.html" %}
{% block content %}
   <div class="container">
<h1>Frequently Asked Questions</h1>
<br />
<p>В: Какой дистрибутив линукса полностью поддерживается для установки?</p>
<p>О: Пока только Fedora (остальные дистрибутивы добавим поздже).</p>
<br />
<p>В: Как добавить iso образ для установки образа виртуальной машины?</p>
<p>О: Все образы должны находиться в директории которые определын в пуле хранилища. Пример: /var/lib/libvirt/images/cdrom.iso</p>
<br />
<p>В: Почему не остутствует HDD образ при создании виртуальной машины?</p>
<p>О: Перед созданием виртуальной машины необходимо создать образ HDD во вкладке хранилище.</p>
<br />
<p>В: Как происходит подключение по VNC к виртуальной машине?</p>
<p>О: Подключение по VNC происходит через SSH туннель (необходимо создать пользователя с ssh доступом).</p>
<br />
<p>В: У сервиса отсутствует функционал которой меня интересует, что делать?</p>
<p>О: Пишите все свои пожелания нам на почту и мы попытаемся их реализовать.</p>
{% endblock %}