{% extends "base.html" %}
{% load i18n %}
{{% block content %}
	<div class="container">
	<h1>{% trans "Features" %}</h1>
	<br>
	<p><font color="broun">WebVirtMgr</font> {% trans "created as a centralized tool for managing virtual machines through a web browser for personal use. This project is an alternative to <strong>virt-manager</strong> for the browser. The project is <strong>absolutely free</strong> and is developed in free time." %}</p>
	<br>
	<div class="row show-grid">
		<div class="span3 offset2">
			<h3>{% trans "Host system" %}</h3>
           <ul>
           	<li>{% trans "View CPU usage" %}</li>
           	<li>{% trans "View memory usage" %}</li>
           	<li>{% trans "Manage network pool" %}</li>
           	<li>{% trans "Manage storage pool" %}</li>
           	<li>{% trans "Manage VMs image" %}</li>
           	<li>{% trans "Cloning image VMs" %}</li>
           	<li>{% trans "Manage snapshots" %}</li>
           	<li>{% trans "View logs" %}</li>
           </ul>
        </div>
        <div class="span3 offset2">
        	<h3>{% trans "Virtual machine" %}</h3>
           <ul>
           	<li>{% trans "View CPU usage" %}</li>
           	<li>{% trans "View memory usage" %}</li>
           	<li>{% trans "Manage ISO images" %}</li>
           	<li>{% trans "Shutdown" %}</li>
           	<li>{% trans "Force shutdown" %}</li>
           	<li>{% trans "Installation" %}</li>
           	<li>{% trans "VNC access" %}</li>
           	<li>{% trans "Create snaphosts" %}</li>
           </ul>
        </div>
	</div>
	<br>
{% endblock %}