{% extends "base.html" %}
{% load i18n %}
{{% block content %}
	<div class="container">
	<h1>{% trans "Features" %}</h1>
	<br>
	<p>Этот проект создавался как средство управления виртуальными машинами для личного использования. Альтернатива клиенту Virt-Manager, который работает только под Linux. Проект является абсолютно бесплатным и разрабатывается в свободное от работы время. Если Вы хотите помочь или у Вас есть предложения по улучшению работы сервиса тогда ждем ваших писем на наш email.</p>
	<h3>Email</h3>
	<p><a href="mailto:support@webvirtmgr.net">support@webvirtmgr.net</a></p>
{% endblock %}