{% extends "base.html" %}
{% load i18n %}
{{% block content %}
	<div class="container">
	<h1>{% trans "Features" %}</h1>
	<br>
	<h4><font color="broun">WebVirtMgr</font> создавался как централизованное средство управления виртуальными машинами через веб браузер для личного использования. Проект является абсолютно бесплатным и разрабатывается в свободное от работы время.</h4>
	<br>
	<p class="well"><strong> - Доступная виртуализация</strong></p>
	<p class="well"><strong> - Удобство использования</strong></p>
	<p class="well"><strong> - Мгновенное развертывание</strong></p>
	<p class="well"><strong> - Работа через веб-браузер</strong></p>
{% endblock %}