{% extends "usr.html" %}
{% block urls %}
<a href=/help/>Help</a>
<a href=/about/>About</a>
<a href=/privacy/>Privacy</a>
<a href=/support/>Support</a>
<a href=/faq/>FAQ</a>
{% if user.is_authenticated %}<button onclick="location.href='{% url registration_register %}'">Create new account</button>{% endif %}
{% endblock %}
{% block content %}
</tr><tr>
<td id="content">
<h1>Install and Configure Libvirt and KVM on Fedora</h1>
<h2>Install libvirt and KVM</h2>
<p>Use the utility yum to install libvirt and KVM packages:</p>
<pre>
# yum -y install kvm libvirt
</pre>

<p>Uncomment the following lines in file <code>/etc/sysconfig/libvirtd</code></p>
<pre>
# Listen for TCP/IP connections
# NB. must setup TLS/SSL keys prior to using this
LIBVIRTD_ARGS="--listen"
</pre>

<p>Uncomment the following lines in file <code>/etc/libvirt/libvirtd.conf</code></p>
<pre>
# Network connectivity controls
#

# Flag listening for secure TLS connections on the public TCP/IP port.
# NB, must pass the --listen flag to the libvirtd process for this to
# have any effect.
#
# It is necessary to setup a CA and issue server certificates before
# using this capability.
#
# This is enabled by default, uncomment this to disable it
listen_tls = 0

# Listen for unencrypted TCP connections on the public TCP/IP port.
# NB, must pass the --listen flag to the libvirtd process for this to
# have any effect.
#
# Using the TCP socket requires SASL authentication by default. Only
# SASL mechanisms which support data encryption are allowed. This is
# DIGEST_MD5 and GSSAPI (Kerberos5)
#
# This is disabled by default, uncomment this to enable it.
listen_tcp = 1
</pre>

<p>Start daemon libvirtd:</p>
<pre>
# service libvirtd start
</pre>

<p>Create file <code>/etc/polkit-1/localauthority/50-local.d/libvirtd.pkla</code>. As an example, this gives the user <code>fred</code> full management access :</p>
<pre>[Allow fred libvirt management permissions]
Identity=unix-user:fred
Action=org.libvirt.unix.manage
ResultAny=yes
ResultInactive=yes
ResultActive=yes
</pre>

<p>Out of the box, no user accounts are defined, so no clients will be able to authenticate on the TCP socket. Adding users and setting their passwords is done with the <code>saslpasswd2</code> command. When running this command it is important to tell it that the appname is <code>libvirt</code>. As an example, to add a user <code>fred</code>, run </p>
<pre>
# saslpasswd2 -a libvirt fred
Password: xxxxxx
Again (for verification): xxxxxx
</pre>

<p>To see a list of all accounts the <code>sasldblistusers2</code> command can be used. This command expects to be given the path to the libvirt user database, which is kept in <code>/etc/libvirt/passwd.db</code></p>
<pre>
# sasldblistusers2 -f /etc/libvirt/passwd.db
fred@t60wlan.home.berrange.com: userPassword
</pre>

<p>If to disable a user's access, the <code>saslpasswd2</code> command can be used again:</p>
<pre>
# saslpasswd2 -a libvirt -d fred
</pre>
<br />
<p>Setting up bridged network (br0) on a <a href="http://wiki.libvirt.org/page/Networking#Bridged_networking_.28aka_.22shared_physical_device.22.29">wiki</a></p>
<br />
<p>Before adding a server, please test your connection using the following command:</p>
<pre>
# virsh -c qemu+tcp://your IP address/system nodeinfo
Please enter your authentication name: fred
Please enter your password: 
</pre>
<p><font color="red">Attention</font>: if you do not see information about the host, check your settings.</p>

<p><h2>Sign In click on the link connection and enter the host. That's all!</h2></p>
<br />
<br />
</td>
{% endblock %}