{% extends "base.html" %}
{% block content %}
   <div class="container">
      <div class="hero-unit">
        {% if not kvm_host %}
                <p><h3>У вас отсутствуют подключения к хостам. Добавите <a href=/newhosts/>подключение</a>.</h3></p>
        {% else %}
            <h1>Подключения</h1>
            <hr>
                {% for host in kvm_host %}
                <a href="#" class="btn btn-large btn-primary disabled">Хост: {{host}}</a>
                <br>
                <ul class="pager">
                  <li>
                    <a href="/overview/{{host}}/">Подробности</a>
                  </li>
                  <li>
                    <a href="/storage/{{host}}/">Хранилище</a>
                  </li>
                  <li>
                    <a href="/network/{{host}}/">Виртуальные сети</a>
                  </li>
                  <li>
                    <a href="/newvm/{{host}}/">Добавить ВМ</a>            
                  </li>
                </ul>
                {% endfor %}
        {% endif %}
      </div>
{% endblock %}