{% extends "base.html" %}

{% block content %}
   <div class="container">

      <!-- Main hero unit for a primary marketing message or call to action -->
      <div class="hero-unit">

	{% if not kvm_host %}
		<p><h3>У вас отсутствуют подключения к хостам. Добавите <a href=/newhosts/>хосты</a>.</h3></p>
	{% else %}
	    <h2>Хосты</h2>
	    <hr>
		{% for host in kvm_host %}
		<h3>Хост: <i>{{host}}</i></h3>

		<ul class="nav nav-pills">
			<li><a href=/overview/{{host}}/>Обзор</a></li>
			<li><a href=/storage/{{host}}/>Хранилище</a></li>
			<li><a href=/network/{{host}}/>Сеть</a></li>
			<li><a href=/newvm/{{host}}/>Добавить</a></li>
		</ul>
		{% endfor %}
	{% endif %}
      </div>
{% endblock %}