{% extends "base.html" %}
{% load i18n %}
{% block content %}
   <div class="container">
      <div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
         <p>{% trans "<strong>WebVirtMgr</strong> is a <strong>libvirt</strong>-based Web interface for managing virtual machines. It allows you to create and configure new domains, and adjust a domain's resource allocation. A VNC viewer over a SSH tunnel presents a full graphical console to the guest domain. <strong>KVM</strong> is currently the only hypervisor supported" %}</p><br>
        <p><a class="btn btn-success btn-large" href="/user/register"><strong>{% trans "Sign up" %}</strong></a></p>
        </div>
{% endblock %}