{% extends "base.html" %}
{% load i18n %}
{% block content %}
   <div class="container">
      <div class="hero-unit">
        <h1>Web Virtual Manager</h1><br>
         <p>{% trans "<strong>WebVirtMgr</strong> is a <strong>libvirt</strong>-based Web interface for managing virtual machines. It allows you to create and configure new domains, and adjust a domain's resource allocation. A VNC viewer over a SSH tunnel presents a full graphical console to the guest domain. <strong>KVM</strong> is currently the only hypervisor supported" %}</p><br>
        <p><a class="btn btn-success btn-large" href="/user/register"><strong>{% trans "Sign up" %}</strong></a></p>
        <div id="bigModal" class="modal hide fade">
		    <div class="modal-header">
		        <button class="close" data-dismiss="modal">&times;</button>
		        <h3>{% trans "Demo" %}</h3>
		    </div>
	        <div class="modal-body">
	        	<iframe style="margin-left:15px;" src="http://player.vimeo.com/video/42386329?title=0&amp;byline=0&amp;portrait=0&amp;color=cebb2f" width="500" height="370" frameborder="0" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
	        	<br>
	        </div>
         </div>				  	
		<a data-toggle="modal" href="#bigModal" class="btn btn-info pull-right">{% trans "View a demo" %}</a>
    </div>
    <div class="row">
        <div class="span4">
          <h3>Управление</h3>
           <p>Для работы с сервисом вам понадобится любой дистрибутив linux и стандартный набор пакетов для управления виртуализацией. Для настройки и работы вам не нужны навыки системного администратора.</p>
        </div>
        <div class="span4">
          <h3>Безопасность</h3>
           <p>Севрис WebVirtMgr использует для передачи логина и пароля шифрованое соединение. Сервис получает доступ только к гипервиозору KVM через библиотеку libvirt, а не ко всей ОС что повышает безопасность сервера в целом.</p>
       </div>
        <div class="span4">
          <h3>Логи и Снапшоты</h3>
          <p>Вы всегда можете посмотреть что Вы и когда делали потому что все данные записываются в журнал. Для того чтобы Ваши данные не потерялись Вы всегда можете сделать снапшоты образа вашей виртуальной машины.</p>
        </div>
      </div>
{% endblock %}