{% extends "base.html" %}

{% block content %}
</tr><tr>
<td id="nav">
<h3>Interfaces:</h3>
<ul>
{% for name in interfaces %}
  <li><a href=/interfaces/{{host}}/{{name}}/>{{name}}</a></li>
{% endfor %}
</ul>
</td>

<td id="content">
<ul>
<li><a href=/overview/{{host}}/><h3>Overview</h3></a></li>
<li><a href=/storage/{{host}}/><h3>Storage</h3></a></li>
<li><a href=/network/{{host}}/><h3>Network</h3></a></li>
<li><a href=/newvm/{{host}}/><h3>Add VM</h3></a></li>
</ul>

<h3>Network interfaces:</h3>
<p><b>Name</b>: {{face}}</p>
<p><b>Status</b>: {% if status == 1 %} <font color="green">Active</font> {% else %} <font color="red">Not Active</font> {% endif %}</p>
<p><b>MAC</b>: {{mac}}</p>
<p><b>IP</b>: {{ipaddr}}</p>
<p><b>Bridge</b>: {{bridge}}</p>

</td>
{% endblock %}