{% extends "base.html" %}
{% block content %}
     <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Главное меню</li>
                <li><a href="/dashboard/"><i class="icon-home"></i>Центр управления</a></li>
                <li><a href="/overview/{{ host_id }}/"><i class="icon-info-sign"></i>Cервер <strong>{{ kvm_host.hostname }}</strong></a></li>
              <li class="nav-header"></i>Настройки сервера</li>
                <li><a href="/newvm/{{ host_id }}/"><i class="icon-plus"></i>Создать ВМ</a></li>
                <li><a href="/storage/{{ host_id }}/"><i class="icon-folder-open"></i>Хранилище</a></li>
                <li><a href="/network/{{ host_id }}/"><i class="icon-signal"></i>Виртуальные сети</a></li>
                <li><a href="/snapshot/{{ host_id }}/"><i class="icon-download-alt"></i>Снапшоты</a></li>
                <li><a href="/logs/{{ host_id }}/"><i class="icon-list-alt"></i>Логи</a></li>
              <li class="nav-header">Сетевой пул</li>
                <li class="active"><a href="/network/{{ host_id }}/new_net_pool/"><i class="icon-plus icon-white"></i>Создать пул</a></li>
                {% for name, status in pools.items %}
                {% if pool == name %}
                <li class="active"><a href="/network/{{ host_id }}/{{ name }}/"><i class="icon-folder-open"></i> {{ name }}</a></li>
                {% else %}
                <li><a href="/network/{{ host_id }}/{{ name }}/"><font color="{% if status == 1 %}green{% else %}red{% endif %}"><i class="icon-folder-open"></i> {{ name }}</font></a></li>
                {% endif %}
                {% endfor %}
              <li class="nav-header">Виртуальные машины</li>
                {% if not all_vm %}
                <li><a href="/newvm/{{ host_id }}/"><i class="icon-plus"></i>Создать ВМ</a></li>
                {% endif %}
                {% for name, state in all_vm.items %}
                <li><a href="/vm/{{ host_id }}/{{ name }}/"><font color="{% if state == 1 %}green{% else %}red{% endif %}"><i class="icon-th-large"></i>{{ name }}</font></a></li>
                {% endfor %}
            </ul>
          </div>
        </div>
    <div class="span8 well">
      <div class="page-header">
          <h2>Новый пул</h2>
        </div>
      {% if errors %}
      {% for error in errors %}
        <div class="alert alert-error">
          <a class="close" data-dismiss="alert">&times;</a>
          {{error}}
        </div>
      {% endfor %}
      {% endif %}
      <form class="form-horizontal" action="/network/{{ host_id }}/new_net_pool/" method="post">
        <fieldset>
          <div class="control-group">
          <label class="control-label">Название пула</label>
            <div class="controls">
              <input type="text" class="input-medium" name="name_pool" placeholder="Name" value="">
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">IP подсеть</label>
            <div class="controls">
              <input type="text" class="input-medium"  name="net_addr" value="192.168.100.0/24">
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">Использовать DHCP</label>
            <div class="controls">
              <input type="checkbox" name="dhcp" value="yes">
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">Тип Forward</label>
            <div class="controls">
              <select class="input-medium" name="forward"> 
                <option value="nat">NAT</option>
                <option value="route">Route</option>
                <option value="none">Isolate</option>
              </select>
            </div>
          </div>
          <div class="controls">
						<input class="btn btn-primary" type="submit" name="create" value="Создать">
          </div>
        </fieldset>
			</form>
		</div>
	</div>
{% endblock %}