{% extends "base.html" %}
{% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Сетвой пул:</li>
              {% for name in pools %}
              <li><a href=/network/{{host}}/{{name}}/>{{name}}</a></li>
              {% endfor %}
              <form action="/network/{{host}}/{{pool}}/" method="post">
                <input type="button" class="btn btn-primary" value="add" onclick="location.href='/network/{{host}}/new_net_pool/'" />
              {% if status = 0 %}
                <input type="submit" class="btn btn-primary" name="net_pool" value="start">
                <input type="submit" class="btn btn-primary" name="net_pool" value="del" onclick="return confirm('Are you sure?')">
              {% else %}
                <input type="submit" class="btn btn-primary" name="net_pool" value="stop" onclick="return confirm('Are you sure?')">
              {% endif %}
              </form>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

		<div class="span9">
			<div class="hero-unit">
			<ul class="nav nav-pills pull-right">
				<li><a href=/overview/{{host}}/>Обзор</a></li>
				<li class="active"><a href=/storage/{{host}}/>Хранилище</a></li>
				<li><a href=/network/{{host}}/>Сеть</a></li>
				<li><a href=/newvm/{{host}}/>Добавить</a></li>
			</ul>
			<h2>Новый пул:</h2>
			<hr>
			<div class="row show-grid">
				<div class="span3">
					<p>Название пула:</p>
					<p>IP адресс:</p>
					<p>Использовать DHCP:</p>
					<p>Тип Forward:</p>
				</div>
				<div class="span3">
					<form action="/network/{{host}}/new_net_pool/" method="post">
						<input type="text" class="input-meddle" name="name_pool" placeholder="Name" value="" style="height:30px;">
						<input type="text" class="input-meddle"  name="net_addr" value="192.168.100.0/24" style="height:30px;">
						<input type="checkbox" name="dhcp" value="yes" style="height:30px;">
						<select name="forward"> 
						    <option value="nat">NAT</option>
						    <option value="route">Route</option>
						    <option value="none">Isolate</option>
						</select>
						<input class="btn btn-primary" type="submit" value="create">
					</form>
				</div>
			</div>
           </div>
          </div>
        </div>





{% endblock %}