{% extends "base.html" %}
{% block content %}
     <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="sidebar-nav well">
            <ul class="nav nav-list">
              <li class="nav-header">Главное меню</li>
                <li><a href=/dashboard/><i class="icon-home"></i>Центр управления</a></li>
                <li><a href=/overview/{{ host_id }}/><i class="icon-info-sign"></i>Cервер <strong>{{ kvm_host.hostname }}</strong></a></li>
              <li class="nav-header"></i>Настройки сервера</li>
                <li class="active"><a href=/newvm/{{ host_id }}/><i class="icon-plus icon-white"></i>Создать ВМ</a></li>
                <li><a href=/storage/{{ host_id }}/><i class="icon-folder-open"></i>Хранилище</a></li>
                <li><a href=/network/{{ host_id }}/><i class="icon-signal"></i>Виртуальные сети</a></li>
                <li><a href="/snapshot/{{ host_id }}/"><i class="icon-download-alt"></i>Снапшоты</a></li>
                <li><a href="/logs/{{ host_id }}/"><i class="icon-list-alt"></i>Логи</a></li>
              <li class="nav-header">Виртуальные машины</li>
                {% if not all_vm %}
                <li><a href=/newvm/{{ host_id }}/><i class="icon-plus"></i>Создать ВМ</a></li>
                {% endif %}
                {% for name, state in all_vm.items %}
                <li><a href=/vm/{{ host_id }}/{{ name }}/><font color="{% if state == 1 %}green{% endif %}{% if state == 5 %}red{% endif %}{% if state == 3 %}orange{% endif %}"><i class="icon-th-large"></i>{{ name }}</font></a></li>
                {% endfor %}
            </ul>
          </div>
        </div>
    <div class="span8">
      <div class="page-header">
          <h2>Новая виртуальная машина</h2>
        </div>
          {% if errors %}
          {% for error in errors %}
            <div class="alert alert-error">
              <a class="close" data-dismiss="alert">&times;</a>
            {{ error }}
            </div>
          {% endfor %}
      {% endif %}
      <form class="form-horizontal" action="/newvm/{{ host_id }}/" method="post">
        <fieldset>
          <div class="control-group">
          <label class="control-label">Название</label>
            <div class="controls">
              <input class="input-large focused" type="text" name="name" placeholder="Name" value="">
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">Архитектура</label>
            <div class="controls">
              <select name="arch">
                  <option value="i686">i686</option>
                  {% if arch == 'x86_64' %}
                    <option value="x86_64">x86_64</option>
                  {% endif %}
              </select>
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">Память</label>
            <div class="controls">
              <select name="memory">
                <option value="256">256 Mb</option>
              {% if addmem > 512 %}
                <option value="512">512 Mb</option>
              {% endif %}
              {% if addmem > 768 %}
                <option value="768">768 Mb</option>
              {% endif %}
              {% if addmem > 1024 %}
                <option value="1024">1024 Mb</option>
              {% endif %}
              {% if addmem > 2048 %}
                <option value="2048">2048 Mb</option>
              {% endif %}
              {% if addmem > 4096 %}
                <option value="4096">4096 Mb</option>
              {% endif %}
              {% if addmem > 8192 %}
                <option value="8192">8192 Mb</option>
              {% endif %}
              </select>
            </div>
          </div>     
          <div class="control-group">
          <label class="control-label">Ядра процессора</label>
            <div class="controls">
              <select name="cpus">
              {% for cpu in cpus %}
                <option value="{{ cpu }}">{{ cpu }}</option>
              {% endfor %}
              </select>
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">Образ СD</label>
            <div class="controls">
              <select name="iso">
              {% if all_iso != "error" %}
              {% for name in all_iso %}
                <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
              {% endif %}
                <option value="">Без образа</option>
              </select>
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">Образ HDD</label>
            <div class="controls">
              <select name="img">
              {% if all_iso != "error" %}
              {% for name in all_img %}
                <option value="{{ name }}">{{ name }}</option>
              {% endfor %}
              {% else %}
                <option value="">Отсутствует</option>
              {% endif %}
              </select>
            </div>
          </div>
          <div class="control-group">
          <label class="control-label">Сетевой мост</label>
            <div class="controls">
              <select name="bridge">
              {% for net in bridge %}
                <option value="{{ net }}">{{net}}</option>
              {% endfor %}
                <option value="br0">br0 (если настроен)</option>
                <option value="br1">br1 (если настроен)</option>
              </select>
            </div>
          </div>
          <div class="controls">
            <input class="btn btn-primary" type="submit" name="create" value="Создать">
          </div>
          </fieldset>
        </form>
       </div>
     </div>
{% endblock %}