{% extends "base.html" %}

{% block content %}
</tr><tr>
<td id="nav">
<h3>Virt Machine:</h3>
<ul>
<a href=/overview/{{host}}/><h4>{{host}}:</h4></a>
{% if not all_vm %}
        <li><a href=/newvm/{{host}}/>Add VM</a></li>
{% endif %}
{% for name, state in all_vm.items %}
    <li><a href=/vm/{{host}}/{{name}}/>{% if state == 1 %}<font color="green">{{name}}</font>{% else %}<font color="red">{{name}}</font>{% endif %}</a></li>
{% endfor %}
</ul>
</td>

<td id="content">
<ul>
<li><a href=/overview/{{host}}/><h3>Overview</h3></a></li>
<li><a href=/storage/{{host}}/><h3>Storage</h3></a></li>
<li><a href=/network/{{host}}/><h3>Network</h3></a></li>
<li><a href=/interfaces/{{host}}/><h3>Interfaces</h3></a></li>
</ul>
<h3>New VM:</h3>
<br />
<table>
<tr><td colspan=2 style="text-align:center;"><h2>New VM</h2></td></tr>
<form action="/newvm/{{host}}/" method="post">
<tr><td>Name:</td>
<td><input style="width:160px;" type="text" name="name" placeholder="Name" value=""></td></tr>
<tr><td>Arch:</td>
<td><select name="arch" style="width:160px;">
    {% if arch == 'x86_64' %}
    <option value="x86_64">x86_64</option>
    {% endif %}
    <option value="i686">i686</option>
</select><br /></td></tr>
<tr><td>Memory:</td>
<td><select name="memory" style="width:160px;">
    <option value="256">256 Mb</option>
    <option value="386">386 Mb</option>
    <option value="512">512 Mb</option>
    <option value="768">768 Mb</option>
    <option value="1024">1024 Mb</option>
    <option value="2048">2048 Mb</option>
    <option value="4096">4096 Mb</option>
    <option value="8192">8192 Mb</option>
</select></td></tr>
<tr><td>CPUs:</td>
<td><select name="cpus" style="width:160px;">
{% for cpu in cpus %}
    <option value="{{cpu}}">{{cpu}}</option>
{% endfor %}
</select></td></tr>
<tr><td>ISO:</td>
<td><select name="iso" style="width:160px;">
{% if all_iso %}
{% for name in all_iso %}
    <option value="{{name}}">{{name}}</option>
{% endfor %}
{% else %}
    <option value="none">None</option>
{% endif %}
</select></td></tr>
<tr><td>Disk:</td>
<td><select name="img" style="width:160px;">
{% if all_img %}
{% for name in all_img %}
    <option value="{{name}}">{{name}}</option>
{% endfor %}
{% else %}
    <option value="none">None</option>
{% endif %}
</select></td></tr>
<tr><td>Network:</td>
<td><select name="bridge" style="width:160px;">
{% for net in bridge %}
    <option value="{{net}}">{{net}}</option>
{% endfor %}
</select></td></tr>
<tr><td colspan=2 style="text-align:center;"><input style="width: 80px;" type="submit" name="newvm" value="create"></td></tr>
</form>
</table>
</td>
{% endblock %}