{% extends "base.html" %}
{% block meta %}
    <meta http-equiv="refresh" content="10">
{% endblock %}
{% block content %}
  <div class="row well" style="height:33px">
   	<div class="span4">
   		<h2>Хост: {{ host }}</h2>
   	</div>
   	<div class="span6">
	{% if info %}
    	<ul class="nav nav-pills">
			<li class="active"><a href=/overview/{{ host }}/>Обзор</a></li>
			<li><a href=/newvm/{{ host }}/>Создать ВМ</a></li>
			<li><a href=/storage/{{ host }}/>Хранилище</a></li>
			<li><a href=/network/{{ host }}/>Виртуальные сети</a></li>
		</ul>
	{% endif %}
	</div>
  </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Виртуальные машины</li>
              {% if not all_vm %}
			   <li><a href=/newvm/{{ host }}/><i class="icon-th-large"></i>Создать ВМ</a></li>
			  {% endif %}
			  {% for name, state in all_vm.items %}
				  {% if name == '000x' %}
				  <li>Ошибка подключения</li>
				  {% else %}
				  <li><a href=/vm/{{ host }}/{{ name }}/>{% if state == 1 %}<font color="green"><i class="icon-th-large"></i>{{ name }}</font>{% else %}<font color="red"><i class="icon-th-large"></i>{{ name }}</font>{% endif %}</a></li>
				  {% endif %}
			  {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
		<div class="span9">
			<div class="hero-unit">
			{% if info %}
			<h2>Обзор</h2>
			<hr>
  		    {% if errors %}
			    {% for error in errors %}
			      <div class="alert alert-error">
			      	<a class="close" data-dismiss="alert">&times;</a>
			    	{{ error }}
			      </div>
			    {% endfor %}
			{% endif %}
			<div class="row">
				<div class="span3">
					<p>Подключение:</p>
					<p>Архитектура:</p>
					<p>Память:</p>
					<p>Логические ЦПУ:</p>
				</div>
				<div class="span4">
					<p>{{ info.0 }}</p>
					<p>{{ info.1 }}</p>
					<p>{{ info.2|filesizeformat }}</p>
					<p>{{ info.3 }} x {{ info.4 }} Mhz</p>
				</div>
			</div>
			<hr>
			<h2>Ресурсы</h2>
			<hr>
			<div class="row">
				<div class="span3">
					<p>Память:</p>
					<p>Занято:</p>
					<p>ЦПУ:</p>
					<p>Загрузка:</p>
				</div>
				<div class="span4">
					<p>{{ memusage.1 }}% ({{ memusage.0|filesizeformat }} из {{ info.2|filesizeformat }})</p>
					<div class="progress progress-warning progress-striped active">
					  <div class="bar" style="width: {{ memusage.1 }}%;"></div>
					</div>
					<p>{{ cpusage }}%</p>
					<div class="progress progress-danger progress-striped active">
					  <div class="bar" style="width: {{ cpusage }}%;"></div>
					</div>
				</div>
			</div>
			{% else %}
			<h3>Ошибка подключения к гипервизору</h3>
			<br>
			<h4><font color="red">Проверьте правильно ли Вы ввели KVM логин или KVM пароль.</font></h4>
			{% endif %}
           </div>
          </div>
        </div>
{% endblock %}