{% extends "base.html" %}
{% load i18n %}
{% block javascript %}
    <script type="text/javascript">
      $(function(){
        $('#myCarousel').carousel({ interval: 3000 });
      });
    </script>
{% endblock %}
{% block content %}
  <div class="container">
   <h1>{% trans "Screenshots" %}</h1>
    <br>
    <div class="show-grid row">
      <div class="span10 offset1" style="width:800px;">
       <div id="myCarousel" class="carousel slide">
          <div class="carousel-inner">
            <div class="item active">
              <img src="/media/img/virtmgr1.jpg" alt="{% trans "Dashboard" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "Dashboard" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr2.jpg" alt="{% trans "Server overview" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "Server overview" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr3.jpg" alt="{% trans "New virtual machine" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "New virtual machine" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr4.jpg" alt="{% trans "Storage pool" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "Storage pool" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr5.jpg" alt="{% trans "Network pool" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "Network pool" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr6.jpg" alt="{% trans "Snapshots" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "Snapshots" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr7.jpg" alt="{% trans "Logging" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "Logging" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr8.jpg" alt="{% trans "Managing a virtual machine" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "Managing a virtual machine" %}</h4>
              </div>
            </div>
            <div class="item">
              <img src="/media/img/virtmgr9.jpg" alt="{% trans "VNC pannel" %}" style="width:800px;">
              <div class="carousel-caption">
                <h4>{% trans "VNC pannel" %}</h4>
              </div>
            </div>
          </div>
          <a class="left carousel-control" href="#myCarousel" data-slide="prev">&lsaquo;</a>
          <a class="right carousel-control" href="#myCarousel" data-slide="next">&rsaquo;</a>
        </div>
      </div>
    </div>
{% endblock %}