{% extends "base.html" %}
{% block content %}
   <div class="container">
    <h1>Скриншоты</h1>
    <br>
    <ul class="thumbnails row show-grid">
      <li class="span6">
        <a href="/media/img/virtmgr01.jpg" class="thumbnail">
          <img src="/media/img/virtmgr01mini.jpg" alt="Ценр управления" title="Ценр управления">
        </a>
      </li>
      <li class="span6">
        <a href="/media/img/virtmgr02.jpg" class="thumbnail">
          <img src="/media/img/virtmgr02mini.jpg" alt="Обзор хоста">
        </a>
      </li>
      <li class="span6">
        <a href="/media/img/virtmgr03.jpg" class="thumbnail">
          <img src="/media/img/virtmgr03mini.jpg" alt="Создание виртуалной машины" title="Создание виртуалной машины">
        </a>
      </li>
      <li class="span6">
        <a href="/media/img/virtmgr04.jpg" class="thumbnail">
          <img src="/media/img/virtmgr04mini.jpg" alt="Пул хранилища" title="Пул хранилища">
        </a>
      </li>     
      <li class="span6">
        <a href="/media/img/virtmgr05.jpg" class="thumbnail">
          <img src="/media/img/virtmgr05mini.jpg" alt="Сетевой пул" title="Сетевой пул">
        </a>
      </li>
      <li class="span6">
        <a href="/media/img/virtmgr06.jpg" class="thumbnail">
          <img src="/media/img/virtmgr06mini.jpg" alt="Управление виртуальной машиной" title="Управление виртуальной машиной">
        </a>
      </li>     
      <li class="span6">
        <a href="/media/img/virtmgr07.jpg" class="thumbnail">
          <img src="/media/img/virtmgr07mini.jpg" alt="VNC панель" title="VNC панель">
        </a>
      </li>
      <li class="span6">
        <a href="/media/img/virtmgr08.jpg" class="thumbnail">
          <img src="/media/img/virtmgr08mini.jpg" alt="Новый пул хранилища" title="Новый пул хранилища">
        </a>
      </li>     
     </ul>
{% endblock %}