{% extends "base.html" %}
{% block content %}
  <div class="row well" style="height:33px">
   	<div class="span4">
   		<h2>Хост: {{host}}</h2>
   	</div>
   	<div class="span6">
    	<ul class="nav nav-pills">
			<li><a href=/overview/{{host}}/>Обзор</a></li>
			<li><a href=/newvm/{{host}}/>Создать ВМ</a></li>
			<li class="active"><a href=/storage/{{host}}/>Хранилище</a></li>
			<li><a href=/network/{{host}}/>Виртуальные сети</a></li>
		</ul>
	</div>
   </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Пул хранилища</li>
              {% for name in pools %}
  			  <li><a href=/storage/{{host}}/{{name}}/><i class="icon-folder-open"></i> {{name}}</a></li>
			  {% endfor %}
			  <br>
			  <form action="/storage/{{host}}/{{pool}}/" method="post">
			  <input type="button" class="btn btn-primary" value="add" onclick="location.href='/storage/{{host}}/new_stg_pool/'" />
			  {% if status = 0 %}
			  <input type="submit" class="btn btn-primary" name="stg_pool" value="start">
			  <input type="submit" class="btn btn-primary" name="stg_pool" value="del" onclick="return confirm('Вы уверены?')">
			  {% else %}
			  <input type="submit" class="btn btn-primary" name="stg_pool" value="stop" onclick="return confirm('Вы уверены?')">
			  {% endif %}
			  </form>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

		<div class="span9">
			<div class="hero-unit">
			<h2>Новый пул</h2>
			<hr>
			<div class="row show-grid">
				<div class="span3">
					<p>Название пула:</p>
					<p>Путь пула:</p>
					<p>Тип пула:</p>
				</div>
				<div class="span3">
					<form action="/storage/{{host}}/{{pool}}/" method="post">
						<input type="text" class="input-meddle" name="name_pool" value="">
						<input type="text" class="input-meddle" name="path_pool" value="/var/lib/libvirt/images/">
						<select name="type_pool"> 
						    <option value="dir">Filesystem Directory</option>
						</select>
						<input type="submit" class="btn btn-primary" value="create">
					</form>
				</div>
			</div>
           </div>
          </div>
        </div>
{% endblock %}