{% extends "base.html" %}
 {% block content %}
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Пул хранилища:</li>
              {% for name in pools %}
  			  <li><a href=/storage/{{host}}/{{name}}/>{{name}}</a></li>
			  {% endfor %}
			  <form action="/storage/{{host}}/{{pool}}/" method="post">
			  <input type="button" class="btn btn-primary" value="add" onclick="location.href='/storage/{{host}}/new_stg_pool/'" />
			  {% if status = 0 %}
			  <input type="submit" class="btn btn-primary" name="stg_pool" value="start">
			  <input type="submit" class="btn btn-primary" name="stg_pool" value="del" onclick="return confirm('Вы уверены?')">
			  {% else %}
			  <input type="submit" class="btn btn-primary" name="stg_pool" value="stop" onclick="return confirm('Вы уверены?')">
			  {% endif %}
			  </form>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
		<div class="span9">
			<div class="hero-unit">
			{% if info %}
				<ul class="nav nav-pills pull-right">
					<li><a href=/overview/{{host}}/>Подробности</a></li>
					<li class="active"><a href=/storage/{{host}}/>Хранилище</a></li>
					<li><a href=/network/{{host}}/>Сети</a></li>
					<li><a href=/newvm/{{host}}/>Добавить ВМ</a></li>
				</ul>
				<h2>Хост: {{host}}</h2>
				<hr>
				<div class="row">
					<div class="span3">
						<p><strong>{{pool}}</strong>:</p>
						<p>Тип пула:</p>
						<p>Путь:</p>
						<p>Состояние:</p>
						<p>Автостарт:</p>
					</div>
					<div class="span3">
						<p>Занято {{info.2|filesizeformat}} из {{info.3|filesizeformat}}</p>
						<p>{% if stype == "dir" %} Filesystem Directory {% else %} No know {% endif %}</p>
						<p>{{spath}}</p>
						<p>{% if status == 1 %} <font color="green">Активен</font> {% else %} <font color="red">Не Активен</font> {% endif %}</p>
						<p>{% if start == 1 %} <font color="green">Включен</font> {% else %} <font color="red">Выключен</font> {% endif %}</p>
					</div>
				</div>

				{% if volinfo %}
				<hr>
				<h2>Образы:</h2>
				<hr>
				<table class="table table-condensed">
		        <thead>
		          <tr>
		            <th>Название</th>
		            <th>Размер</th>
		            <th>Формат</th>
		            <th>Действие</th>
		          </tr>
		        </thead>
		        <tbody>
					{% for name, info in volinfo.items %}
					<tr>
						<td>{{name}}</td><td>{{info.0|filesizeformat}}</td><td>{{info.1}}</td>
						<td>
						<form action="/storage/{{host}}/{{pool}}/" method="post">
							<input type="hidden" name="img" value="{{name}}">
							<input type="submit" class="btn btn-primary" name="volume" value="delete" onclick="return confirm('Вы уверены?')">
						</form>
						</td>
					</tr>
					{% endfor %}
		        </tbody>
		        </table>
		        <hr>
		        {% else %}
			        <hr>
			        <h4>Какие либо образы отсутствуют</h4><br>
				{% endif %}

				{% if status = 1 %}
					<script type="text/javascript">
					function toggleview(itm) 
					{ 
					   var itmx = document.getElementById(itm); 
					   if (itmx.style.display == "none") 
					   { 
					      itmx.style.display = "block"; 
					   } 
					   else 
					   { 
					      itmx.style.display = "none"; 
					   } 
					} 
					</script>
					<button class="btn btn-primary" onclick="toggleview('q1')">Добаить</button>
					<div id='q1' style="display:none">
						<br>
						<div class="row show-grid">
							<div class="span3">
								<p>Название:</p>
								<p>Maкс. размер:</p>
								<p>Выдел. размер:</p>
								<p>Формат образа:</p>
							</div>
							<div class="span3">
								<form action="/storage/{{host}}/{{pool}}/" method="post">
									<input type="text" class="input-large" name="img" placeholder="Name" value="">
									<input type="text" class="input-large" name="size_max" value="1024">
									<input type="text" class="input-large" name="size_aloc" value="0">
									<select name="format"> 
									    <option value="qcow2">qcow2</option>
									    <option value="raw">raw</option>
									</select>
									<input type="submit" class="btn btn-primary" name="volume" value="create">
								</form>
							</div>
						</div>
					</div>
				{% endif %}
			{% else %}
			<h3>Подключение отсутствуют!</h3>
			{% endif %}
           </div>
          </div>
        </div>
{% endblock %}