{% extends "base.html" %}
{% block content %}
  <div class="row well" style="height:33px">
   	<div class="span4">
   		<h2>Хост: {{ kvm_host.hostname }}</h2>
   	</div>
   	<div class="span6">
    	<ul class="nav nav-pills">
			<li><a href=/overview/{{ host_id }}/>Обзор</a></li>
			<li><a href=/newvm/{{ host_id }}/>Создать ВМ</a></li>
			<li class="active"><a href=/storage/{{ host_id }}/>Хранилище</a></li>
			<li><a href=/network/{{ host_id }}/>Виртуальные сети</a></li>
		</ul>
	</div>
   </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Пул хранилища</li>
              {% for name, status in pools.items %}
              {% if pool == name %}
                <li class="active"><a href=/storage/{{ host_id }}/{{ name }}/><i class="icon-folder-open"></i> {{ name }}</a></li>
                {% else %}
                <li><a href=/storage/{{ host_id }}/{{ name }}/>{% if status == 1 %}<font color="green"><i class="icon-folder-open"></i> {{ name }}</font>{% else %}<font color="red"><i class="icon-folder-open"></i> {{ name }}</font>{% endif %}</a></li>
                {% endif %}
			  {% endfor %}
			  <br>
			  <form action="/storage/{{ host_id }}/{{ pool }}/" method="post">
			  <input type="button" class="btn btn-primary" value="Созд." onclick="location.href='/storage/{{ host_id }}/new_stg_pool/'" />
			  {% if status = 0 %}
			  <input type="submit" class="btn btn-primary" name="start_pool" value="Старт">
			  <input type="submit" class="btn btn-primary" name="del_pool" value="Удал." onclick="return confirm('Вы уверены?')">
			  {% else %}
			  <input type="submit" class="btn btn-primary" name="stop_pool" value="Стоп" onclick="return confirm('Вы уверены?')">
			  {% endif %}
			  </form>
            </ul>
          </div><!--/.well -->
        </div><!--/span-->
		<div class="span9">
			<div class="hero-unit">
			<h2>Новый пул</h2>
			<hr>
		  {% if errors %}
          {% for error in errors %}
            <div class="alert alert-error">
            	<a class="close" data-dismiss="alert">&times;</a>
            	{{ error }}
            </div>
          {% endfor %}
          {% endif %}
			<div class="row show-grid">
				<div class="span3">
					<p>Название пула:</p>
					<p>Путь пула:</p>
					<p>Тип пула:</p>
				</div>
				<div class="span3">
					<form action="/storage/{{ host_id }}/{{ pool }}/" method="post">
						<input type="text" class="input-meddle" name="name_pool" value="">
						<input type="text" class="input-meddle" name="path_pool" value="/var/lib/libvirt/images/">
						<select name="type_pool"> 
						    <option value="dir">Filesystem Directory</option>
						</select>
						<input type="submit" class="btn btn-primary" name="new_stg_pool" value="Создать">
					</form>
				</div>
			</div>
           </div>
          </div>
        </div>
{% endblock %}