{% extends "base.html" %}
{% block content %}
  <div class="row well" style="height:33px">
   	<div class="span4">
   		<h2>Хост: {{host}}</h2>
   	</div>
   	<div class="span6">
    	<ul class="nav nav-pills">
			<li><a href=/overview/{{host}}/>Обзор</a></li>
      <li><a href=/newvm/{{host}}/>Создать ВМ</a></li>
			<li><a href=/storage/{{host}}/>Хранилище</a></li>
			<li><a href=/network/{{host}}/>Виртуальные сети</a></li>
		</ul>
	</div>
   </div>
    <div class="container-fluid">
      <div class="row-fluid">
        <div class="span3">
          <div class="well sidebar-nav">
            <ul class="nav nav-list">
              <li class="nav-header">Виртуальные машины</li>
              {% if not all_vm %}
               <li><a href=/newvm/{{host}}/><i class="icon-th-large"></i>Создать ВМ</a></li>
              {% endif %}
              {% for name, state in all_vm.items %}
               	{% if name == '000x' %}
                <li>Не подключено</li>
                {% else %}
                  {% if vname == name %} 
                  <li class="active"><a href=/vm/{{host}}/{{name}}/><i class="icon-th-large"></i>{{name}}</a></li>
                  {% else %}
                  <li><a href=/vm/{{host}}/{{name}}/>{% if state == 1 %}<font color="green"><i class="icon-th-large"></i>{{name}}</font>{% else %}<font color="red"><i class="icon-th-large"></i>{{name}}</font>{% endif %}</a></li>
                  {% endif %}
                {% endif %}
                {% endfor %}
            </ul>
          </div><!--/.well -->
        </div><!--/span-->

        <div class="span9">
            <div class="hero-unit">
              <h2>Виртуальная машина</h2>
              <hr>
              <form action="/vm/{{host}}/{{vname}}/" method="post">
              {% if state = 5 %}
                <input class="btn btn-primary" type="submit" name="start" value="Запуск">
              {% endif %}
              {% if state = 3 %}
                <input class="btn btn-primary" type="submit" name="resume" value="Возобновить">
              {% endif %}
              {% if state = 1 %}
                <input class="btn btn-primary" type="submit" name="suspend" value="Сон" onclick="return confirm('Вы уверены?')">
                <input class="btn btn-primary" type="submit" name="shutdown" value="Выключить" onclick="return confirm('Вы уверены?')">
                <input class="btn btn-primary" type="submit" name="destroy" value="Выкл. принудительно" onclick="return confirm('Вы уверены?')">
                <input class="btn btn-primary" type="submit" name="reboot" value="Перезагрузить" onclick="return confirm('Вы уверены?')">
                <input class="btn btn-primary" type="button" value="VNC" onclick="window.open('/vnc/{{host}}/{{vname}}/', '_blank','width=830,height=648,status=no,location=no,toolbar=no,menubar=no')">
              {% endif %}
              </form>
              <div class="row">
                <div class="span2">
                  <p>Название:</p>
                  <p>ЦПУ:</p>
                  <p>Память:</p>
                  <p>Статус:</p>
                  <p>Автозапуск:</p>
                  <p>Boot Меню:</p>
                  {% if state = 1 %}<p>VNC порт:</p>{% endif %}
                  <p>HDD:</p>
                  <p>CDROM:</p>
                </div>
                <div class="span5">
                  <p><strong>{{ vname }}</strong></p>
                  <p>{{ cpu }}</p>
                  <p>{{ memory|filesizeformat }}</p>
                  <p>{% if active == 1 %}<font color="green">активно</font>{% else %}<font color="red">не активно</font>{% endif %}</p>
                  <p style="height:30px"><form action="/vm/{{host}}/{{vname}}/" method="post">
                      {% if autostart == 1 %}
                        <input class="btn btn-primary" type="submit" name="auto_off" value="Выключить" onclick="return confirm('Вы уверены?')">
                      {% else %}
                        <input class="btn btn-primary" type="submit" name="auto_on" value="Включить" onclick="return confirm('Вы уверены?')"> 
                      {% endif %}
                    </form></p>
                  <p>{% if boot_menu == 'yes' %}<font color="green">включено</font>{% else %}<font color="red">выключено</font>{% endif %}</p>
                  {% if state = 1 %}<p><strong>{{ vnc_port }}</strong> - для iSSH</p>{% endif %}
                  <p>{{ hdd }}</p>
                  <p>{% if cdrom == None %} {% else %} {{ cdrom }} {% endif %}
                    <form action="/vm/{{host}}/{{vname}}/" method="post">
                      {% if cdrom %}
                      <input class="btn btn-primary" type="submit" name="disconnect" value="Отключить" onclick="return confirm('Вы уверены?')">
                      {% else %}
                      <select name="iso_img">
                      {% for iso in isos %}
                          <option value="{{iso}}">{{iso}}</option>
                      {% endfor %} 
                      </select><br>
                      <input class="btn btn-primary" type="submit" name="connect" value="Подключить"> 
                      {% endif %}
                    </form>
                  </p>
                </div>
              </div>
              <form action="/vm/{{host}}/{{vname}}/" method="post">
              {% if state != 1 %}
                <input class="btn btn-primary" type="submit" name="undefine" value="Удалить" onclick="return confirm('Вы уверены?')">
              {% endif %}
              </form>
            </div>
          </div>
        </div>
{% endblock %}