<html>
<head>
  <title>Web Virtual Manager - VNC</title>
</head>
<body style="text-align:center;">
<applet archive="/media/java/vncviewer.jar" code="com.tightvnc.vncviewer.VncViewer" width="800" height="632">
<param name="SOCKETFACTORY" value="com.tightvnc.vncviewer.SshTunneledSocketFactory">
<param name="Show controls" value="Yes">
<param name="Offer relogin" value="Yes">
<param name="Open new window" value="No">
<param name="Scaling factor" value="auto">
<param name="SSHHOST" value="{{kvm_host.ipaddr}}">
<param name="HOST" value="localhost">
<param name="PORT" value="{{vnc_port}}">
</applet>
</body>
</html>