<html>
<head>
  <title>Web Virtual Manager - VNC {{ vname }}</title>
  <style type="text/css">
      body { padding: 0; margin: 0;}
  </style>
</head>
<body>
<applet archive="/media/java/vncviewer.jar" code="com.tightvnc.vncviewer.VncViewer" width="800" height="628">
<param name="SOCKETFACTORY" value="com.tightvnc.vncviewer.SshTunneledSocketFactory">
<param name="Show controls" value="Yes">
<param name="Offer relogin" value="Yes">
<param name="Open new window" value="No">
<param name="Scaling factor" value="auto">
<param name="SSHHOST" value="{{ kvm_host.ipaddr }}">
<param name="HOST" value="localhost">
<param name="PORT" value="{{ vnc_port }}">
</applet>
</body>
</html>